---
title: About Us
view: subpage.haml
---
#subpagecontent
  %p
    %br
  #div.post
    #div.entry
      %h2 Our Mission
      %p
        We believe our customers deserve luxury and value, and should not have to compromise either.
        We strive to provide just enough personal service that you don't feel lost in the alaskan wild,
        but provide you all the privacy you might desire.
    #div.entry
      %h2 Map and Directions
      %p
        Directions from downtown Talkeetna:
        %ul
          %li Turn right
          %li Keep going!
          %li Stop!!!!
        %ul
      %p
        %a{:href => "http://www.google.com/maps?q=25453+South+Talkeetna+Spur,+Talkeetna+AK&hl=en&ll=62.295628,-150.066633&spn=0.021628,0.077162&sll=37.0625,-95.677068&sspn=37.683309,79.013672&vpsrc=6&z=14"}
          %img{:src => "http://maps.googleapis.com/maps/api/staticmap?center=62.311187,-150.066032&markers=color:red%7C25453+South+Talkeetna+Spur,+Talkeetna,+AK|color:green%7C22200+Jefferson+Street,+Talkeetna+AK&zoom=12&size=500x400&maptype=roadmap&sensor=false", :width => '500', :height => '400', :border => '0'}

        %li 22200 Jefferson Street, Talkeetna  AK
        %li 25453 South Talkeetna Spur, Talkeetna AK

    / end sidebar two
#bottom{:style => "clear: both;"}

/ end page
