---
title: About Us
view: subpage.haml
---
#subpagecontent
  #div.post
    #div.entry
      %h2 Our Story
      %p
        It started as a dream and became a reality.
        In 2005 after much contemplation, we moved from Colorado to Alaska.
        Being in the Aircraft and Travel industries for many years, we thought this would be
        a new adventure. Dallas, and especially Kate have travelled  a lot and stayed in many Inns
        and Bed and Breakfasts.  So we decided to build what we thought would be the best of both.
        In 4 years we have created 2 hideaways in the (not too wild) woods on the outskirts
        of Talkeetna. As construction winds down on the&nbsp;
        %a{:href=>'/cabin'}> Treetop Guest House
        , the 3rd is almost ready.
      %br
      %br
      %h2 Our Promise To You
      %p
        We believe our guests deserve a bit of luxury and a good value, and should not have to compromise either.
        We provide enough personal service that you don't feel lost in the alaskan wild,
        all the while ensuring your privacy is maintained.

    #div.entry
      %h2 What Our Customers Think Of Us
      %p
        Don't take our word for it, browse the
        %a{:href=>'http://www.tripadvisor.com/Hotel_Review-g31136-d1485609-Reviews-Talkeetna_Treetop_Chalet-Talkeetna_Alaska.html'}Trip Advisor reviews
        for yourself.
      %br
      %p
        Here's what a few of our guests have said:
        %br
        %br
      %p
        %b
          %i Pure Luxury - Beautiful Place
        \- closetalker on Trip Advisor
      %p
        "My whole family loved this place. Professionally decorated, immaculate, great views, comfortable -
        what more can I say. Kate provided everything you could possibly need."
      %br
      %p
        %b
          %i Loved the Treetop Chalet
        \- hobbit99 on Trip Advisor
      %p
        "I've been meaning to describe the wonderful three days my family spent at the Treetop Chalet.
        We rented the Chalet for the two bedrooms, two baths, and the kitchen facilities.
        All were great and felt like we were living in luxury. Very comfortable beds were a nice surprise.
        All breakfast foods were fresh with plenty of milk, OJ, eggs, etc.
        The view of McKinley will be spectacular if nature permits."
      %br
      %p
        %b
          %i Beyond Expectations!
        \- SDHBurlington_CO on Trip Advisor
      %p
        "Great views of Mt. McKinley from the chalet living room! How unexpected! The place is unhosted but
        full of everything you could want. They thought of everything. Breakfast foods were perfect with many choices.
        I could cook if I wanted but didn't need to make a mess. The rooms are very clean and beautifully decorated.
        [...] I can't wait to go back!"
      %br
      %p
        %b
          %i What a Modern Luxury Chalet
        \- tiger62z on Trip Advisor
      %p
        "During our 10-day Alaska expedition, among five Bed&breakfast we stayed across from Anchorage ,
        Homer, Seward, Talkeetna and Healy, Talkeetna Treetop Chalet is the best. It is newly built, elegantly designed,
        spotlessly clean, and on top of them, it has one of best view of Mt. McKinley right in front of house and you
        can also see it through a big window from the living room. I just couldn’t help staring at the mountain all the
        time. It was so gorgeous! I highly recommend this place. "
      %br
      %p
        %b
          %i The Garden Apartment is a great choice for two
        \- Tangible on Trip Advisor
      %p
        "We booked the garden apartment because it offered complete privacy for one couple, [...].
        It's perfect, with its own view of Denali, a full kitchen, large bath,
        and large living room/bedroom area. The owner was there to get us settled, told us how to reach her
        if we needed anythibg, and then disappeared, which is exactly what we like. Breakfast supplies were
        ample, the decor attractive, and the location just isolated enough from the tourist bustle of Talkeetna."
      %br




    / end sidebar two
#bottom{:style => "clear: both;"}

/ end page
