---
title: About Us
view: subpage.haml
---
#subpagecontent
  #div.post
    #div.entry
      %h2 Our Story
      %p
        It started out as a dream, but 4 years on we have succeeded in creating a simple and luxurious hideaway in the (not too) wild outskirts of Talkeetna, Alaska.
      %br
      %br
      %h2 Our Promise To You
      %p
        We believe our customers deserve luxury and value, and should not have to compromise either.
        We strive to provide just enough personal service that you don't feel lost in the alaskan wild,
        but provide you all the privacy you might desire.

    #div.entry
      %h2 Map
      %p
        Our properties are about a 2 1/2 hour drive from Anchorage, and just outside Talkeetna.
      %br
      %a{:href => "http://www.google.com/maps?q=25453+South+Talkeetna+Spur,+Talkeetna+AK&hl=en&ll=62.295628,-150.066633&spn=0.021628,0.077162&sll=37.0625,-95.677068&sspn=37.683309,79.013672&vpsrc=6&z=14"}
        %img{:src => "http://maps.googleapis.com/maps/api/staticmap?center=62.311187,-150.066032&markers=color:white%7Clabel:2%7C25453+South+Talkeetna+Spur,+Talkeetna,+AK&markers=color:white%7Clabel:1%7C22200+Jefferson+Street,+Talkeetna+AK&zoom=12&size=400x300&maptype=road&sensor=false", :width => '400', :height => '300', :border => '0'}
        / %img{:src => "http://maps.googleapis.com/maps/api/staticmap?center=61.93895,-156.005859&markers=color:white%7C22200+Jefferson+Street,+Talkeetna+AK&zoom=4&size=225x300&maptype=road&sensor=false", :width => '225', :height => '300', :border => '0'}
        %img{:src => "http://maps.googleapis.com/maps/api/staticmap?center=61.799093,-149.831543&markers=color:white%7C62.321714,-150.074444&zoom=7&size=225x300&maptype=road&sensor=false", :width => '225', :height => '300', :border => '0'}

      %p
        %img{:src => 'http://chart.apis.google.com/chart?chst=d_map_pin_letter&chld=1|ffffff|000000'} 22200 Jefferson Street, Talkeetna &nbsp;AK
        %ul
          %li Treetop Chalet
          %li Garden Apartment
        %br
      %p
        %img{:src => 'http://chart.apis.google.com/chart?chst=d_map_pin_letter&chld=2|ffffff|000000'} 25453 South Talkeetna Spur, Talkeetna &nbsp;AK
        %ul
          %li Treetop Guest House
    #div.entry
      %h2 Directions
      %br
      %h3 To Treetop Chalet and Garden Apartment (from AK-3)
      %ul
        %li
          Head
          %b North
          on AK-3
        %li
          %b Right
          on Talkeetna Spur
        %li
          %b Right
          on Comsat Rd after 12 miles
        %li
          %b Right
          on E Madison St after 2.3 miles
        %li E Madison St turns slightly left and becomes S Freedom Dr
        %li
          %b Right
          on Jefferson St
        %li
          %b Right
          immediately at the first driveway
          %br 22200 Jefferson Street
      %br
      %h3 To Treetop Guest House (from AK-3)
      %ul
        %li
          Head
          %b North
          on AK-3
        %li
          %b Right
          on Talkeetna Spur
        %li
          %b Right
          into driveway after 11.6 miles
          %br 25453 South Talkeetna Spur
    #div.entry
      %h2 Upon Arrival
      %br
      %h3 Treetop Chalet
      %ul
        %li When you pull in the driveway, stay left at the fork
      %br
      %h3 Garden Apartment
      %ul
        %li When you pull in the driveway, stay right at the fork

    / end sidebar two
#bottom{:style => "clear: both;"}

/ end page
