---
title: About Us
view: subpage.haml
---
#subpagecontent
  #div.post
    #div.entry
      %h2 Our Story
      %p
        It started out as a dream, but 4 years on we have succeeded in creating a simple and luxurious hideaway in the (not too) wild outskirts of Talkeetna, Alaska.
      %br
      %br
      %h2 Our Promise To You
      %p
        We believe our customers deserve luxury and value, and should not have to compromise either.
        We provide enough personal service that you don't feel lost in the alaskan wild,
        all the while ensuring your privacy is maintained.

    #div.entry
      %h2 What Our Customers Think Of Us
      %p
        In short, they are wild about us. But don't take our word for it...




    / end sidebar two
#bottom{:style => "clear: both;"}

/ end page
