---
title: Activities
view: subpage.haml
---
#subpagecontent
  #div.post
    #div.entry
      %p
        Please let us know if we can help you plan your trip or suggest activities that you might like.
      %p
        %br
      %h2 Flightseeing
      %p{:style=>'width:577px;'}
        A great way to fully appreciate all the sights that Alaska has to offer.
        %b Ask us about discounted rates
        when we help you book your
        %b
          %a{:href=>'http://www.flyk2.com/denali-flightseeing/index.html'}K2 aviation
        flightseeing tour.

    #div.entry
      %h2 Hiking, Biking and ATV Riding
      %p
        Talkeetna has an extensive system of trails for every kind of exploring.

    #div.entry
      %h2 Restaurants &amp; Pubs
      %ul
        %li
          %a{:href=>'http://flyingsquirrelcafe.com/index.html'} Flying Squirrel Bakery Cafe
        %li
          %a{:href=>'http://denalibrewingcompany.com/'} Denali Brewing Company &amp; Twister Creek Restaurant
        %li
          %a{:href=>''} Mountain High Pizza Pie

    #div.entry
      %h2 Cultural and Family
      %ul
        %li
          %a{:href=>'http://talkeetnahistoricalsociety.org/museum.php'} Talkeetna Historical Society
        %li
          %a{:href=>'http://www.denaliartscouncil.org/events.htm'} Denali Arts Council
        %li
          %a{:href=>'http://www.eideticimage.com/bluegrass/'} Talkeetna Bluegrass Festival
        %li
          %a{:href=>'http://talkeetnaplayground.org/'} Talkeetna Community Playground
        %li
          %a{:href=>'http://www.talkeetnachamber.org/library.html'} Talkeetna Public Library
    #div.entry
      %h2 Other Resources
      %p
        Here are some more great organizations and businesses in Talkeetna
      %ul
        %li
          %a{:href=>'http://www.nps.gov/dena/planyourvisit/talkeetnaranger.htm'} Talkeetna Ranger Station
        %li
          %a{:href=>'http://ktna.org/'} KTNA Community Radio - 88.9FM
        %li
          %a{:href=>'http://www.talkeetnachamber.org/'} Talkeetna Chamber of Commerce
          %br
          %br
          &nbsp; If you
          %a{:href=>'http://www.talkeetnachamber.org/trip-planning.php'} request information,
          the Chamber of Commerce will also help you plan your trip.
          %br

        %br
      %p
        %br
      %p
        %br
      %p
        %br
      %p
        %br
      %p
        %br
      %p
        %br
      %p
        %br
      %p
        %br
      %p
        %br


    / end sidebar two
#bottom{:style => "clear: both;"}

/ end page
