---
title: Activities
view: subpage.haml
---
#subpagecontent
  #div.post
    #div.entry
      %h2 Flightseeing
      %p{:style=>'width:577px;'}
        A great way to fully appreciate all that Alaska has to offer.
      %p
        We can help you get
        %u discounted rates
        if you ask us to book your flightseeing tour.
      %p
        We recommend
        %b
          %a{:href=>'http://www.flyk2.com/denali-flightseeing/index.html'}K2 aviation.
        Take a look at their fantastic reviews on
        %a{:href=>'http://www.tripadvisor.com/Attraction_Review-g31136-d1053074-Reviews-K2_Aviation-Talkeetna_Alaska.html'} Trip Advisor

    #div.entry
      %h2 Hiking, Biking and ATV Riding
      %ul
        %li
          Talkeetna has an extensive system of trails for every kind of exploring

    #div.entry
      %h2 Restaurants &amp; Pubs
      %ul
        %li
          %a{:href=>'http://flyingsquirrelcafe.com/index.html'} Flying Squirrel Bakery Cafe
        %li
          %a{:href=>'http://denalibrewingcompany.com/'} Denali Brewing Company &amp; Twister Creek Restaurant
        %li
          %a{:href=>''} Mountain High Pizza Pie

    #div.entry
      %h2 Kids Stuff!
      %ul
        %li
          %a{:href=>'http://talkeetnaplayground.org/'} Talkeetna Community Playground Project
    #div.entry
      %h2 Other Resources
      %p
        Here are some more great organizations and businesses in Talkeetna
      %ul
        %li
          %a{:href=>'http://www.talkeetnachamber.org/'} Talkeetna Chamber of Commerce

        %br
      %p
        %br
      %p
        %br
      %p
        %br
      %p
        %br
      %p
        %br
      %p
        %br
      %p
        %br
      %p
        %br
      %p
        %br


    / end sidebar two
#bottom{:style => "clear: both;"}

/ end page
