---
title: Treetop Guest House
view: subpage.haml
---
#content
  #div.post
    #div.entry
      %h2 Roomy and Convenient
      %ul
        %li 2 bedrooms, 1 and 1/2 bath
        %li Close to Talkeetna lakes and trail system
        %li Bike path accessible

    #div.entry
      %h2 Brand new construction
      %ul
        %li Opening Fall 2011


/ start sidebar two
#sidebar2.sidebar
  %ul
    %li
      %h2 Rates
      %ul
        %li Please call to inquire about rates
    %li
      %h2 Location
      %ul
        %li
          %a{:href => "/directions"}
            %img{:src => "http://maps.googleapis.com/maps/api/staticmap?center=62.311187,-150.066032&markers=color:red%7C25453+South+Talkeetna+Spur,+Talkeetna,+AK&zoom=11&size=200x200&maptype=roadmap&sensor=false", :width => '200', :height => '200', :border => '0'}
            / 62.30520,-150.08698
            %small View Larger Map
        %li
          25453 South Talkeetna Spur, Talkeetna AK
        %li
    %li
      %h2 Photos
      %ul
        %li
          %a{:href => "images/guest_house1.jpg", :rel => "lightbox[guest-house]", :style => "text-decoration:none;", :title => "Treetop Guest House."}
            Guest House
            %br>/
            \  
            %img{:alt => "Treetop Guest House", :height => "40", :src => "images/thumb_guest-house.jpg", :width => "200"}/
/ end sidebar two
#bottom{:style => "clear: both;"}
  %div{:style => "visibility:hidden;height: 0;"}
    %a{:href => "images/guest_house2.jpg", :rel => "lightbox[guest-house]", :style => "text-decoration:none;", :title => "Treetop Guest House rear deck."}

/ end page
