---
title: Treetop Chalet
view: subpage.haml
---
#content
  #div.post
    #div.entry
      %h2 Unhosted Bed and Breakfast
      %p
        This newly built chalet has a stunning view of Denali and the Alaska Range.
        The two luxury bedrooms share a common great room with views of McKinley out an
        amazing picture window.
        Five miles from downtown Talkeetna, you can settle in or use it to launch
        your Alaskan adventure.
        %ul
          %li Queen Bedrooms with Private Baths
          %li Great Room with Full Kitchen
          %li Cook-your-own breakfast supplies
          %li Owner's home is unattached

    #div.entry
      %h2 Great Room with a stunning View
      %p
        Enjoy the shared Great Room and Full Kitchen, or reserve both bedrooms and enjoy the privacy
        of the entire Chalet.

    #div.entry
      %h2 Green Room
      %p
        %ul
          %li  Luxurious queen bed
          %li  Full bath with tub and stand-up shower
          %li  Vanity and sink in the room, so 2 people can get ready at the same time
          %li  Comfy chair and small TV

    #div.entry
      %h2 Blue Room
      %p
        %ul
          %li Luxurious queen bed
          %li Full bath with claw-foot tub and hand held shower and chandelier
          %li Dresser, comfy chair and small TV

/ start sidebar two
#sidebar2.sidebar
  %ul
    %li
      %h2 Amenities
      %ul
        %li Queen Beds and Private Bathrooms
        %li High Speed Wi-Fi and Satellite TV
        %li Freezer to store the day's catch
    %li
      %h2 Rates
      %ul
        %li $150 per room (2 guest max)
        %li $275 for entire chalet (5 guest max)
        %li Please inquire for winter rates and extended stays.
    %li
      %h2 Photos
      %ul
        %li
          %a{:href => "images/denali-view1.jpg", :rel => "lightbox[views]", :style => "text-decoration:none;", :title => "Denali view from the deck."}
            Views
            %br>/
            \  
            %img{:alt => "Stunning Views", :height => "40", :src => "images/thumb_denali-view1.jpg", :width => "200"}/
        %li
          %a{:href => "images/exterior1.jpg", :rel => "lightbox[chalet]", :style => "text-decoration:none;", :title => "The Chalet: The great room's picture window sits above an unoccupied first floor. The private entrance is in the foreground and the owners' unattached residence can be seen in the background."}
            The Chalet
            %br>/
            \  
            %img{:alt => "Picture window in the great room.", :height => "40", :src => "images/thumb_exterior1.jpg", :width => "200"}/
    %li
      %h2 Location
      %ul
        %li
          %a{:href => "/directions"}
            %img{:src => "http://maps.googleapis.com/maps/api/staticmap?center=62.311187,-150.066032&markers=color:red%7C22200+Jefferson+Street,+Talkeetna+AK&zoom=11&size=200x200&maptype=roadmap&sensor=false", :width => '200', :height => '200', :border => '0'}
            %small View Larger Map
        %li 22200 Jefferson Street, Talkeetna  AK
/ end sidebar two
#bottom{:style => "clear: both;"}
  %div{:style => "visibility:hidden;height: 0;"}
    %a{:href => "images/living1.jpg", :rel => "lightbox[chalet]", :title => "The Chalet: Spectacular view and cozy setting in the great room."}
    %a{:href => "images/clawfoot-tub.jpg", :rel => "lightbox[chalet]", :title => "The Chalet: Clawfoot bathtub in the Blue bedroom private bath."}
    %a{:href => "images/denali-view2.jpg", :rel => "lightbox[views]", :title => "Beautiful sunsets."}
    %a{:href => "images/denali-view3.jpg", :rel => "lightbox[views]", :title => "Amazing mountains."}



/ end page
