---
title: The Chalet
---
#contmain
  #left1
    #right1
      #subpageheader
        #subpagelogo
      #topmenu
        #navigator
          %h2
            %a{:href => "/", :title => "Talkeetna Treetop Chalet"} Talkeetna Treetop Chalet
        %ul#nav.dropdown.dropdown-horizontal
          %li.dir
            =page.title
            %ul
              %li
                %a{:href => "/"} Home
              %li
                %a{:href => "/chalet"} The Chalet
              %li
                %a{:href => "/cabin"} Cabin
              %li
                %a{:href => "/garden"} Garden Apartment

      #page
        #content
          #div.post
            #div.entry
              %h2 Unhosted Bed and Breakfast
              %p
                This newly built chalet has a stunning view of Denali and the Alaska Range.
                The two luxury bedrooms share a common great room with views of McKinley out an
                amazing picture window.
                Five miles from downtown Talkeetna, you can settle in or use it to launch
                your Alaskan adventure.
                %ul
                  %li Queen Bedrooms with Private Baths
                  %li Great Room with Full Kitchen
                  %li Cook-your-own breakfast supplies
                  %li Owner's home is unattached

            #div.entry
              %h2 Great Room with a stunning View
              %p
                Enjoy the shared Great Room and Full Kitchen, or reserve both bedrooms and enjoy the privacy
                of the entire Chalet.

            #div.entry
              %h2 Green Room
              %p
                %ul
                  %li  Cool fact about room!

            #div.entry
              %h2 Blue Room
              %p
                %ul
                  %li Clawfoot Tub

        / start sidebar two
        #sidebar2.sidebar
          %ul
            %li
              %h2 Amenities
              %ul
                %li Queen Beds and Private Bathrooms
                %li High Speed Wi-Fi and Satellite TV
                %li Freezer to store the day's catch
            %li
              %h2 Rates
              %ul
                %li $150 per room (2 guest max)
                %li $275 for entire chalet (5 guest max)
                %li Please inquire for winter rates and extended stays.
            %li
              %h2 Photos
              %ul
                %li
                  %a{:href => "images/denali-view1.jpg", :rel => "lightbox[views]", :style => "text-decoration:none;", :title => "Denali view from the deck."}
                    Views
                    %br>/
                    \  
                    %img{:alt => "Stunning Views", :height => "40", :src => "images/thumb_denali-view1.jpg", :width => "200"}/
                %li
                  %a{:href => "images/exterior1.jpg", :rel => "lightbox[chalet]", :style => "text-decoration:none;", :title => "The Chalet: The great room's picture window sits above an unoccupied first floor. The private entrance is in the foreground and the owners' unattached residence can be seen in the background."}
                    The Chalet
                    %br>/
                    \  
                    %img{:alt => "Picture window in the great room.", :height => "40", :src => "images/thumb_exterior1.jpg", :width => "200"}/
            %li
              %h2 Location
              %ul
                %li 22200 Jefferson Street, Talkeetna  AK
                %li
                  <iframe width="200" height="200" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.com/maps/ms?gl=us&amp;ie=UTF8&amp;hl=en&amp;oe=UTF8&amp;msa=0&amp;msid=212549983279691578598.0004ac43dd4c02ed7b4a8&amp;vpsrc=6&amp;ll=62.317408,-150.072556&amp;spn=0.063799,0.136642&amp;z=11&amp;output=embed"></iframe><br /><small>View <a href="http://maps.google.com/maps/ms?gl=us&amp;ie=UTF8&amp;hl=en&amp;oe=UTF8&amp;msa=0&amp;msid=212549983279691578598.0004ac43dd4c02ed7b4a8&amp;vpsrc=6&amp;ll=62.317408,-150.072556&amp;spn=0.063799,0.136642&amp;z=11&amp;source=embed" style="color:#0000FF;text-align:left">larger map</a></small>
        / end sidebar two
        #bottom{:style => "clear: both;"}
      #footer
        %p
          P.O. Box 570 | Talkeetna, AK 99676
        %p
          Copyright &copy; 2011. Design by <a href="http://www.metamorphozis.com/">metamorphozis.com</a>
        %p
          Homepage Denali photo taken from deck &copy Antonio B-W

%div{:style => "visibility:hidden;height: 0;"}
  %a{:href => "images/living1.jpg", :rel => "lightbox[chalet]", :title => "The Chalet: Spectacular view and cozy setting in the great room."}
    %img{:alt => "Living room with picture window", :height => "40", :src => "images/thumb_living1.jpg", :width => "200"}/
  %a{:href => "images/clawfoot-tub.jpg", :rel => "lightbox[chalet]", :title => "The Chalet: Clawfoot bathtub in the Blue bedroom private bath."}
    %img{:alt => "Elegant clawfoot bathtub", :height => "40", :src => "images/thumb_clawfoot-tub.jpg", :width => "200"}/
  %a{:href => "images/denali-view2.jpg", :rel => "lightbox[views]", :title => "Beautiful sunsets..."}

    / end page
