---
title: Acknowledgements
view: subpage.haml
---
#subpagecontent
  #div.post
    #div.entry
      %h2 Website Credits
      %p{:style=>'width:577px;'}
        / paragraph with forced width to make the entry div the correct size
        Photo Credit (View of Denali from Talkeetna Treetop Chalet)
        %u Antonio B-W
      %p
        Photo Credit (Road to Mount McKinley...)
        %a{:href=>'http://commons.wikimedia.org/wiki/User:Lucag'} Luca Galuzzi
        %br
      %p
        Photo Credit (Aurora Borealis  - Bear Lake, Alaska)
        %a{:href=>'http://www.flickr.com/photos/31290768@N06'} Trodel
        %br
      %p
        Photo Credit (Hike to Harding Ice Field)
        %a{:href=>'http://www.flickr.com/people/84923306@N00'} sujohndas
      %p
        Website built with MangoRb
      %p
        CSS dropdown menus &copy; 2006-2011
        %a{:href=>'http://www.lwis.net/free-css-drop-down-menu/'} Live Web Institute
        %br
      %p
        Initial design &copy; 2003-2011
        %a{:href=>'http://www.metamorphozis.com/'} Metamorphosis Website Design

        %br
      %p
        %br
      %p
        %br
      %p
        %br
      %p
        %br
      %p
        %br
      %p
        %br
      %p
        %br
      %p
        %br
      %p
        %br


    / end sidebar two
#bottom{:style => "clear: both;"}

/ end page
