---
title: Credits
view: subpage.haml
---
#subpagecontent
  #div.post
    #div.entry
      %p
        Built with MangoRb
      %p
        Initial design Copyright &copy; 2003-2011
        %a{:href=>'http://www.metamorphozis.com/'} Metamorphosis Website Design

      %p Photo Credit - Antonio B-W


      %p
        Photo Credit
        %a{:href=>'http://commons.wikimedia.org/wiki/User:Lucag'} Luca Galuzzi

      %p
        Photo Credit
        %a{:href=>'http://www.flickr.com/photos/31290768@N06'} Trodel
        %br

      %p
        %br


    / end sidebar two
#bottom{:style => "clear: both;"}

/ end page
