---
title: Getting Here
view: subpage.haml
---
#subpagecontent
  #div.post
    #div.entry
      %p
        Our properties are about a 2 1/2 hour drive from Anchorage, and just outside Talkeetna.
      %br
      %a{:href => "http://www.google.com/maps/ms?msid=212549983279691578598.0004ac43dd4c02ed7b4a8&msa=0&ll=62.314696,-150.055733&spn=0.085339,0.299721"}
        %img{:src => "http://maps.googleapis.com/maps/api/staticmap?center=62.311187,-150.066032&markers=color:white%7Clabel:2%7C25453+South+Talkeetna+Spur,+Talkeetna,+AK&markers=color:white%7Clabel:1%7C22200+Jefferson+Street,+Talkeetna+AK&zoom=12&size=400x300&maptype=road&sensor=false", :width => '400', :height => '300', :border => '0'}
        / %img{:src => "http://maps.googleapis.com/maps/api/staticmap?center=61.93895,-156.005859&markers=color:white%7C22200+Jefferson+Street,+Talkeetna+AK&zoom=4&size=225x300&maptype=road&sensor=false", :width => '225', :height => '300', :border => '0'}
      %a{:href=>'http://www.google.com/maps?saddr=Ste+1560,+550+W+7th+Ave,+Anchorage,+AK+99501-3567+(Ted+Stevens+Anchorage+International+Airport)&daddr=25453+S+Talkeetna+Spur,+Talkeetna,+AK+99676&hl=en&ll=61.731526,-149.672241&spn=1.391872,4.795532&sll=61.698768,-149.868611&sspn=1.3934,4.795532&geocode=FTZvpQMdOnMP9yGvb72nNFq3lg%3BFZZ9tgMdfggO9ymfpIB7Nb7OVjEbXA0oCmTc0A&vpsrc=0&mra=pd&t=m&z=8'}
        %img{:src => "http://maps.googleapis.com/maps/api/staticmap?center=61.799093,-149.831543&markers=color:white%7C62.321714,-150.074444&zoom=7&size=225x300&maptype=road&sensor=false", :width => '225', :height => '300', :border => '0'}

      %p
        %img{:src => 'http://chart.apis.google.com/chart?chst=d_map_pin_letter&chld=1|ffffff|000000'} 22200 Jefferson Street, Talkeetna &nbsp;AK
        %ul
          %li Treetop Chalet
          %li Garden Apartment
        %br
      %p
        %img{:src => 'http://chart.apis.google.com/chart?chst=d_map_pin_letter&chld=2|ffffff|000000'} 25453 South Talkeetna Spur, Talkeetna &nbsp;AK
        %ul
          %li Treetop Guest House
    #div.entry
      %h2 Directions
      %br
      %h3 To Treetop Chalet and Garden Apartment (from AK-3)
      %ul
        %li
          Head
          %b North
          on AK-3
        %li
          %b Right
          on Talkeetna Spur
        %li
          %b Right
          on Comsat Rd after 12 miles
        %li
          %b Right
          on E Madison St after 2.3 miles
        %li E Madison St turns slightly left and becomes S Freedom Dr
        %li
          %b Right
          on Jefferson St
        %li
          %b Right
          immediately at the first driveway
          %br
          %br
          %b 22200 Jefferson Street
          %a{:href=>'http://www.google.com/maps?saddr=Ste+1560,+550+W+7th+Ave,+Anchorage,+AK+99501-3567+(Ted+Stevens+Anchorage+International+Airport)&daddr=22200+Jefferson+Street,+Talkeetna++AK&hl=en&sll=61.747131,-149.672241&sspn=1.505596,4.795532&geocode=FTZvpQMdOnMP9yGvb72nNFq3lg%3BFdf4tgMdtckO9ymjo8ObdL7OVjFyHf0pntL_1A&vpsrc=0&mra=ls&t=m&z=8'} View Google Maps Directions
      %br &nbsp;
      %br
      %h3 To Treetop Guest House (from AK-3)
      %ul
        %li
          Head
          %b North
          on AK-3
        %li
          %b Right
          on Talkeetna Spur
        %li
          %b Right
          into driveway after 11.6 miles
          %br
          %br
          %b 25453 South Talkeetna Spur
          %a{:href=>'http://www.google.com/maps?saddr=Ste+1560,+550+W+7th+Ave,+Anchorage,+AK+99501-3567+(Ted+Stevens+Anchorage+International+Airport)&daddr=25453+South+Talkeetna+Spur,+Talkeetna++AK&hl=en&ll=61.731526,-149.672241&spn=1.506359,4.795532&sll=61.74826,-149.67179&sspn=1.505596,4.795532&geocode=FTZvpQMdOnMP9yGvb72nNFq3lg%3BFZZ9tgMdfggO9ymfpIB7Nb7OVjEbXA0oCmTc0A&vpsrc=0&mra=ls&t=m&z=8'} View Google Maps Directions
      %br
    #div.entry
      %h2 Upon Arrival
      %br
      %h3 Treetop Chalet
      %ul
        %li When you pull in the driveway, stay left at the fork
      %br
      %h3 Garden Apartment
      %ul
        %li When you pull in the driveway, stay right at the fork

    / end sidebar two
#bottom{:style => "clear: both;"}

/ end page
