---
title: Garden Apartment
view: subpage.haml
---
#content
  #div.post
    #div.entry
      %h2 Newly Remodeled and Spacious
      %p
        A private, spacious studio apartment where you can
        make yourself at home with plenty of room and all the comforts of home.
        %ul
          %li Full kitchen with breakfast bar
          %li Full private bath
    #div.entry
      %h2 Room for Four
      %p
        Sleep comfortably in the queen bed, and host up to four with the sofa bed.
        %ul
          %li Queen bed
          %li Sofa sleeper
          %li Private parking and 'arctic' entry
    #div.entry
      %h2 Stunning views from the private deck
      %p
        Relax on the comfortable, private deck and enjoy the stunning Denali view from inside or out.

/ start sidebar two
#sidebar2.sidebar
  %ul
    %li
      %h2 Amenities
      %ul
        %li Queen Bed + Sofa sleeper
        %li Full Kitchen and Full Private bath
        %li High Speed Wi-Fi and Satellite TV
        %li Freezer to store the day's catch
    %li
      %h2 Rates
      %ul
        %li $160 per night
        %li 4 guests max
        %li Please inquire for winter rates and extended stays.
    %li
      %h2 Photos
      %ul
        %li
          %a{:href => "images/denali-view1.jpg", :rel => "lightbox[views]", :style => "text-decoration:none;", :title => "Denali view from the deck."}
            Views
            %br>/
            \  
            %img{:alt => "Stunning Views", :height => "40", :src => "images/thumb_denali-view1.jpg", :width => "200"}/
        %li
          %a{:href => "images/garden-deck.jpg", :rel => "lightbox[garden]", :style => "text-decoration:none;", :title => "Garden Apartment: A private deck with a spectacular view of denali."}
            Garden Apartment
            %br>/
            \  
            %img{:alt => "Garden apartment deck", :height => "40", :src => "images/thumb_garden-deck.jpg", :width => "200"}/
    %li
      %h2 Location
      %ul
        %li
          %a{:href => "/directions"}
            %img{:src => "http://maps.googleapis.com/maps/api/staticmap?center=62.311187,-150.066032&markers=color:red%7C22200+Jefferson+Street,+Talkeetna+AK&zoom=11&size=200x200&maptype=roadmap&sensor=false", :width => '200', :height => '200', :border => '0'}
            %small View Larger Map
        %li 22200 Jefferson Street, Talkeetna  AK
/ end sidebar two
#bottom{:style => "clear: both;"}
  %div{:style => "visibility:hidden;height: 0;"}
    %a{:href => "images/garden-kitchen.jpg", :rel => "lightbox[garden]", :title => "Garden Apartment: Complete kitchen and convenient breakfast bar."}
    %a{:href => "images/garden-bed.jpg", :rel => "lightbox[garden]", :title => "Garden Apartment: Great view and ultimate comfort in the Queen size memory foam bed."}
    %a{:href => "images/garden-deck1.jpg", :rel => "lightbox[garden]", :style => "text-decoration:none;", :title => "Garden Apartment: Deck is private and grand at the same time."}
    %a{:href => "images/denali-view2.jpg", :rel => "lightbox[views]", :title => "Beautiful sunsets."}
    %a{:href => "images/denali-view3.jpg", :rel => "lightbox[views]", :title => "Amazing mountains."}

/ end page
