---
title: Talkeetna Treetop Chalet
---
#header
  #logo
    %h1= page.title
#page
  #content
    #div.post
      #div.entry
        %h2 Your Home in the Woods
        %p
          Unexpected Luxury for your Alaskan Adventure!
          %br
          %br
          Located outside Talkeetna with views of Denali,
          the Treetop Chalet, Guest House and Garden Apartment
          each provide a private, un-hosted, Bed and Breakfast experience.

      #div.entry
        %h2
          %a{:href => "/chalet"} Treetop Chalet
        %p
          An un-hosted Bed and Breakfast, this newly built chalet has a stunning view of Denali and the Alaska Range.
          The two luxury bedrooms share a common great room with views of McKinley out an amazing picture window.
          Five miles from downtown Talkeetna, you can settle in or use it to launch your Alaskan adventure.
          %p
            %ul
              %li Queen bedrooms with Full Private baths
              %li Shared Full kitchen with cook-your-own breakfast supplies
      #div.entry
        %h2
          %a{:href => '/cabin'} Treetop Guest House
        %p
          %ul
            %li Opening Fall 2011
            %li Brand new construction
            %li 2 bedrooms, 1 and 1/2 bath
            %li Close to Talkeetna lakes and trail system
            %li Bike path accessible
      #div.entry
        %h2
          %a{:href => '/garden'} Garden Apartment
        %p
          A well appointed and newly remodeled studio that is spacious and private. Make yourself at
          home with convenient private parking and a separate 'arctic' entry.
          Relax on the comfortable, private deck. Enjoy a beautiful
          Denali view from inside or out.
        %ul
          %li Newly remodeled studio apartment
          %li Full kitchen with breakfast bar
          %li Full private bath
          %li Queen bed plus sofa sleeper
  / start sidebar two
  #sidebar2.sidebar
    %ul
      %li
        %a{:href=>'/chalet'}
          %h2 Properties
          %a{:href => '/chalet'} Treetop Chalet
          %br
          %a{:href => '/cabin'} Treetop Guest House
          %br
          %a{:href => '/garden'} Garden Apartment
          %br
          %a{:href => '/activities'} Activities
          %br
          %a{:href => '/directions'} Getting Here
      %li
        %a{:href => "images/denali-view1.jpg", :rel => "lightbox[all]", :style => "text-decoration:none;", :title => "Treetop Photo Gallery"}
          %h2 Photos
        %ul
          %li
            %a{:href => "images/denali-view1.jpg", :rel => "lightbox[views]", :style => "text-decoration:none;", :title => "Denali view from the deck."}
              Views
              %br>/
              \  
              %img{:alt => "Stunning Views", :height => "40", :src => "images/thumb_denali-view1.jpg", :width => "200"}/
          %li
            %a{:href => "images/exterior1.jpg", :rel => "lightbox[chalet]", :style => "text-decoration:none;", :title => "The Chalet: The great room's picture window sits above an unoccupied first floor. The private entrance is in the foreground and the owners' unattached residence can be seen in the background."}
              The Chalet
              %br>/
              \  
              %img{:alt => "Picture window in the great room.", :height => "40", :src => "images/thumb_exterior1.jpg", :width => "200"}/
          %li
            %a{:href => "images/garden-deck.jpg", :rel => "lightbox[garden]", :style => "text-decoration:none;", :title => "Garden Apartment: A private deck with a spectacular view of denali."}
              Garden Apartment
              %br>/
              \  
              %img{:alt => "Garden apartment deck", :height => "40", :src => "images/thumb_garden-deck.jpg", :width => "200"}/
      %li
        %a{:href=>'/about'}
          %h2 About Us
        %ul
          %li Phone: (907) 733-5338
          %li Email: treetop@mtaonline.net

  #bottom{:style => "clear: both;"}
    %div{:style => "visibility:hidden;"}
      %a{:href => "images/living1.jpg", :rel => "lightbox[chalet]", :title => "The Chalet: Spectacular view and cozy setting in the great room."}
      %a{:href => "images/clawfoot-tub.jpg", :rel => "lightbox[chalet]", :title => "The Chalet: Clawfoot bathtub in the Blue bedroom private bath."}
      %a{:href => "images/denali-view2.jpg", :rel => "lightbox[views]", :title => "Beautiful sunsets."}
      %a{:href => "images/denali-view3.jpg", :rel => "lightbox[views]", :title => "Amazing mountains."}
      %a{:href => "images/garden-kitchen.jpg", :rel => "lightbox[garden]", :title => "Garden Apartment: Complete kitchen and convenient breakfast bar."}
      %a{:href => "images/garden-bed.jpg", :rel => "lightbox[garden]", :title => "Garden Apartment: Great view and ultimate comfort in the Queen size memory foam bed."}

      %a{:href => "images/exterior1.jpg", :rel => "lightbox[all]", :style => "text-decoration:none;", :title => "The Chalet: The great room's picture window sits above an unoccupied first floor. The private entrance is in the foreground and the owners' unattached residence can be seen in the background."}
      %a{:href => "images/garden-deck.jpg", :rel => "lightbox[all]", :style => "text-decoration:none;", :title => "Garden Apartment: A private deck with a spectacular view of denali."}
      %a{:href => "images/living1.jpg", :rel => "lightbox[all]", :title => "The Chalet: Spectacular view and cozy setting in the great room."}
      %a{:href => "images/clawfoot-tub.jpg", :rel => "lightbox[all]", :title => "The Chalet: Clawfoot bathtub in the Blue bedroom private bath."}
      %a{:href => "images/denali-view2.jpg", :rel => "lightbox[all]", :title => "Beautiful sunsets."}
      %a{:href => "images/denali-view3.jpg", :rel => "lightbox[all]", :title => "Amazing mountains."}
      %a{:href => "images/garden-kitchen.jpg", :rel => "lightbox[all]", :title => "Garden Apartment: Complete kitchen and convenient breakfast bar."}
      %a{:href => "images/garden-bed.jpg", :rel => "lightbox[all]", :title => "Garden Apartment: Great view and ultimate comfort in the Queen size memory foam bed."}

