#subpageheader
  - image_name = page.title.downcase.gsub(/ /, '_') + '.jpg'
  %div{:id => 'subpagelogo', :style => "background: url(/images/#{image_name})"}
#topmenu
  #navigator
    %h2
      %a{:href => "/", :title => "Talkeetna Treetop Chalet"} Talkeetna Treetop Chalet
  %ul#nav.dropdown.dropdown-horizontal
    %li.dir
      =page.title
      %ul
        %li
          %a{:href => "/"} Home
        %li
          %a{:href => "/chalet"} Treetop Chalet
        %li
          %a{:href => "/cabin"} Treetop Guest House
        %li
          %a{:href => "/garden"} Garden Apartment

#page

  = page.content
