#subpageheader
  - image_name = page.title.downcase.gsub(/ /, '_') + '.jpg'
  %div{:id => 'subpagelogo', :style => "background: url(/images/#{image_name})"}
#topmenu
  #navigator
    %ul#nav.dropdown.dropdown-horizontal
      %li.dir
        %a{:href => "/", :title => "Talkeetna Treetop Chalet"} Talkeetna Treetop Chalet
        %ul
          %a{:href => "/chalet"}
            %li Treetop Chalet
          %a{:href => "/cabin"}
            %li Treetop Guest House
          %a{:href => "/garden"}
            %li Garden Apartment
          %a{:href => "/activities"}
            %li Activities
          %a{:href => "/about"}
            %li About Us
          %a{:href => "/directions"}
            %li Getting Here
  %h2=page.title

#page

  = page.content
